.DS_Store

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

.env*.local
.env*.test
.env
.venv

*.class
*.jar
*.war
*.ear
*.iml

dist/
build/
coverage/
tmp/
*.exe
*.out
*.app
*.o
*.d

*.bak
*.old
*.tmp

.DS_Store
__pycache__
venv
*.env
*env.*
device_mac.txt
logs/*.log
